.header__nav {
  padding: 18px;
  overflow: hidden;
  max-width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 100, 0, 0.9),
    rgba(0, 100, 0, 0.6)
  );

  border: 1px solid black;
  margin-bottom: 0;
}
.header__nav:hover {
  background-image: linear-gradient(
    to right,
    rgba(0, 100, 0, 0.9),
    rgba(200, 0, 0, 0.6)
  );
}
.header__nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
}
.header__home {
  margin-right: 29%;
  border-right: 1px solid #333;
}
.header__home:hover {
  color: black;
}
.header__about {
  margin-right: 2%;
  margin-left: 2%;
}
.header__nav a:not(:first-child):hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: black;
}
.header__nav .icon {
  display: none;
}
@media screen and (max-width: 709px) {
  .header__nav {
    max-width: 100%;
  }
  .header__nav a:not(:first-child) {
    display: none;
  }
  .header__nav a.icon {
    float: right;
    display: block;
    margin-right: 30px;
  }
}
@media screen and (max-width: 709px) {
  .header__nav.responsive {
    width: 93.5%;
    overflow: hidden;
  }
  .header__home {
    border-right: none;
  }
  .header__nav.responsive .icon {
    position: fixed;
    top: 0;
    right: 8px;
    margin-top: 15px;
  }
  .header__nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .header__home {
    margin-right: auto;
  }
  .header__products {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    max-width: 30%;
    margin-top: 5px;
  }
  .header__about {
    border-bottom: 1px solid #333;
    max-width: 30%;
    margin-left: 0;
  }
  .header__search {
    margin-right: 20px;
  }
}
